<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zqyyy.mynotesand2048">

    <application
        android:allowBackup="true"
        android:icon="@drawable/login_title"
        android:label="随记"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.zqyyy.mynotesand2048.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.zqyyy.mynotesand2048.RegisterActivity"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AcountMain"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountNew"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountOperation"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountSetting"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountSearch"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountData"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountDataPay"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048.AccountForget"></activity>
        <activity android:name="com.example.zqyyy.mynotesand2048._2048Activity"></activity>
<!--        <activity android:name="com.example.zqyyy.familyaccountkeeping.MainActivity"></activity>-->
    </application>


</manifest>