<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zqyyy.familyaccountkeeping">

    <application
        android:allowBackup="true"
        android:icon="@drawable/login_title"
        android:label="随记"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.zqyyy.familyaccountkeeping.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.zqyyy.familyaccountkeeping.RegisterActivity"></activity>
        <activity android:name="com.example.zqyyy.familyaccountkeeping.AccountForget"></activity>
    </application>


</manifest>